<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.like.dao.mapper.BlogMapper">

    <resultMap id="BaseResultMap" type="com.example.like.dao.entity.Blog">
            <id property="id" column="id" />
            <result property="userid" column="userId" />
            <result property="title" column="title" />
            <result property="coverimg" column="coverImg" />
            <result property="content" column="content" />
            <result property="thumbcount" column="thumbCount" />
            <result property="createtime" column="createTime" />
            <result property="updatetime" column="updateTime" />
    </resultMap>
</mapper>
